<link href="/static/homestyle.css" rel="stylesheet" />

<!DOCTYPE html>

<head>
  <title>The-IMCPMD-inator</title>
</head>
<body>
  <h1 class="page-title">🐈 Is My Cat Plotting My Demise? 🐱</h1>

  <div class="container">
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <input type="file" name="cat_image" id="cat_image" accept="image/*" hidden>
        <label for="cat_image" class="glow-on-hover">Upload Cat Image</label>
        <button class="glow-on-hover" type="submit">Analyze My Cat</button>
    </form>

        <div id="imagePreview" class="image-preview" style="display:none; text-align:center; margin-top:10px;">
          <h3>Image Preview:</h3>
          <img id="previewImg" src="" width="300">
        </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>

    <h1 class="page-subheader">🐈 Is My Cat Plotting My Demise? 🐱</h1>

  <script>
    const catImageInput = document.getElementById("cat_image");
    const imagePreview = document.getElementById("imagePreview");
    const previewImg = document.getElementById("previewImg");

    catImageInput.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();

        reader.addEventListener("load", function () {
          previewImg.setAttribute("src", this.result);
          imagePreview.style.display = "block";
        });

        reader.readAsDataURL(file);
      }
    });
  </script>




</body>